.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 192px; /* Mantém o alinhamento com a sidebar */
}

.icon-logo {
  font-size: 2rem;
  color: var(--primary);
  margin-right: 12px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--foreground);
  margin: 0;
}

.logo-text span {
  color: var(--primary);
}

/* Esconde o texto do logo em telas menores */
@media (max-width: 768px) {
  .logo { width: auto; }
  .logo-text { display: none; }
}
